<h1 style="text-align:center;color:aliceblue;font-weight:bold;font-size:40pt;">Welcome to Student Informatin Management System !<br>
    <small>
        <small style="color:aliceblue;">Develop by <a style="color:blue;text-decoration:none;" href="https://www.twitter.com/AliHadiOzturk" target="_blank">@AliHadiOzturk</a></small>
        
    </small>
</h1>
<div class="input-group input-group-lg">
    <input type="text" class="form-control" placeholder="Username" aria-describedby="sizing-addon1">
</div>
<div class="input-group input-group-lg" style="margin-top:10px;">
        <input type="text" class="form-control" placeholder="Password" aria-describedby="sizing-addon1">
    </div>
    <button type="button" class="btn btn-primary btn-lg btn-block" style="margin-top:10px;font-size:20pt;" (click)="openStudentList()">Login</button>